h1 {
    text-align: center;
}

.navbar-default .navbar-brand {
    color: #59b6b6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #59b6b6;
}
.navbar-default .navbar-text {
    color: #59b6b6;
}
.navbar-default .navbar-nav > li > a {
    color: #59b6b6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #59b6b6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #59b6b6;
    background-color: #e1e5e5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #59b6b6;
    background-color: #59b6b6;
}
.navbar-default .navbar-toggle {
    border-color: #59b6b6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #59b6b6;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #59b6b6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #59b6b6;
}
.navbar-default .navbar-link {
    color: #59b6b6;
}
.navbar-default .navbar-link:hover {
    color: #59b6b6;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #59b6b6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #59b6b6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #a3b6b6;
        background-color: #a3b6b6;
    }
}
.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}